#wrapper_color {
    display: grid;
    .dark_para {
        color: $text-color-1;
    }
    h2 {
        margin-bottom: 0px;
    }
    #color_demo {
        width: 80%;
        justify-self: center;
    }
    h3 { margin: 60px 0 0 0; }
    h3:nth-of-type(2) { margin: 30px 0 0 0; }
    p {
        line-height: 26px;
        color: $text-color-1;
    }
    p:nth-child(4) {
        margin-bottom: 30px;
    }
    img {
        width: auto;
        margin: 20px 0;
    }
    .color_btn_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        div {
        margin-right: 15px;
        }
    }
    .color_btn {
        font: bold 0.6em "Roboto Condensed", sans-serif;
        background-color: CornflowerBlue;
        width: 50px;
        height: 0px;
        padding: 20px 56px 50px 8px;
        border-radius: 5px;
        color: white;
        text-transform: capitalize;
        letter-spacing: 1px;
        box-shadow: 5px 5px 0px #e0e0e0;
    }
    #clipboard_btn {
        cursor: crosshair;
    }
    #clipboard_btn:hover {
        box-shadow: none;
        transform: translate(5px, 5px);
    }
    .btn_style {
        display: flex;
        flex-direction: row;
        margin: 30px 0;
        div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    
        color: white;
        font: 0.6em 'Lato', sans-serif;
        }
        div:first-child {
        border-radius: 20px 0 0 20px;
        }
        div:last-child { border-radius: 0 20px 20px 0; }
    }
    #name_btn_wrapper {
    div {
        background-color: MediumPurple;
        width: 80px;
    }
    div:first-child { background-color: #5b2eb7; }
    }
    #blindness_btn_wrapper {
        div {
        background-color: Plum;
        width: 126px;
        }
        div:first-child { background-color: #c255c2; }
    }
    #blindness_color_wrapper {
        div:nth-child(2) { background-color: #7872d4; }
        div:nth-child(3) { background-color: #7B79D9; }
        div:nth-child(4) { background-color: #64C6C4; }
        div:nth-child(5) { background-color: #929292; }
    }
    #color_demo_dark {
        width: 70%;
        justify-self: center;
    }
}

@media only screen and (max-width: 700px) {
    #wrapper_color {
        display: unset;
    }
    #color_demo_dark, #color_demo {
        width: 100% !important;
    }
    #wrapper_color .color_btn {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 414px) {
    #wrapper_color p {
        line-height: 35px;
    }
}

