.test {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    background-color: red;
}

#wrapper_home {
    text-align: center;
    header { display: grid; }
    section {
        border: none;
        margin: 50px 0;
    }
    header > h2 {
        margin: 0;
    }
    header > p {
        color: $text-color-1;
    }

    header > a {
        width: fit-content;
        margin-top: 24px;
        justify-self: center;
    }
      
    #social {
        justify-self: center;
        display: grid;
        grid-template: 31px / repeat(5, 70px);
        color: $text-color-2 !important;
        margin-top: 5px;
    }
      
    #social > div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $text-color-2;
        border-right: transparent;
        font-size: 0.75em;
    }
    
    #social > div:hover {
        color: $text-color-1;
    }
      
    #social_end {
        border-right: 1px solid $text-color-2 !important;
    
    }
      
    #box_wrapper {
        display: grid;
        grid-template: repeat(4, 135px)/ 100%;
    }
      
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 3px;
        font-weight: 400;
        cursor: pointer;
    }

    .box > span {
        background: white;
        padding: 5px;
    }
      
    #box_1 {
        background:white;
        background-image: linear-gradient(90deg, rgba(176, 196, 222, 0.5) 37%, transparent 0),
                          linear-gradient(rgba(176, 196, 222, 0.5) 37%, transparent 0);
        background-size: 25px 25px;
    }
    #box_2 {
        background:
        radial-gradient(rgba(176, 196, 222, 0.5) 4px, transparent 3px),
        radial-gradient(rgba(176, 196, 222, 0.5) 4px, transparent 3px), #fff;
        background-position: 0 0, 20px 20px;
        background-size: 43px 43px; 
    }
    #box_3 { 
        background-color: rgba(176, 196, 222, 0.5);
        
    }
    #box_4 {
        background-color: rgba(176, 196, 222, 0.5);
        background: linear-gradient(-45deg,
        rgba(176, 196, 222, 0.5) 25% 25%,
        #ffffff 25.1%,
        #ffffff 50%,
        rgba(176, 196, 222, 0.5) 37% 50.1%,
        rgba(176, 196, 222, 0.5) 37% 75%,
        #ffffff 75.1%,
        #ffffff 0);
        background-size: 40px 40px; 
    }

    #interests {
        padding: 48px 0;
    }
}

@media only screen and (max-width: 700px) {
    body {
        padding: 60px 0;
    }
    #wrapper_home #interests {
        padding: 20px 0;
    }
}