// colors

$text-color-1: #06384e;
$text-color-2: CornflowerBlue;
$light-color: LightSteelBlue;

// fonts

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700|Roboto+Mono:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i');


$typeface_1: 'PT Serif', serif;
$typeface_2: 'Open Sans', sans-serif;
