@import 'variables';
@import 'setup';

body {
    font-family: $typeface_2;
    font-size: 1em;
    color: $text-color-1;
    padding: 120px 0;
}

@media only screen and (max-width: 414px) {
    body {
        font-size: 1.2em;
    }
}

@import 'home';
@import 'colors';
@import 'appetite';
@import 'truecolor';
@import 'work';

/*@import 'codeforfun';*/