@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700|Roboto+Mono:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i");
* {
  margin: 0;
  padding: 0; }
  * a {
    color: inherit;
    text-decoration: none;
    cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  font-weight: 600;
  margin: 1em 0; }

h1, h2 {
  letter-spacing: 2px; }

h3, h4, h5, h6 {
  letter-spacing: 0px; }

body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto; }

section {
  margin: 20px 0;
  border-top: 1px dotted LightSteelBlue; }

.no_border {
  border: none; }

wrapper {
  width: 700px;
  height: auto; }

p {
  margin: 1em 0; }

@media only screen and (max-width: 700px) {
  wrapper {
    width: 85%; } }
footer {
  display: grid;
  margin: 40px 0; }
  footer .btn_home, footer .btn_next {
    grid-row: 1; }
  footer .btn_home {
    justify-self: left; }
  footer .btn_next {
    justify-self: right; }

.links {
  color: CornflowerBlue;
  font-style: italic;
  border-bottom: 1px dotted CornflowerBlue; }

.little_guide {
  color: LightSteelBlue;
  margin: 20px 0 10px 0px; }

.highlight {
  background: LightSteelBlue;
  width: max-content;
  padding: 5px 5px;
  color: white; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #06384e;
  padding: 120px 0; }

@media only screen and (max-width: 414px) {
  body {
    font-size: 1.2em; } }
.test {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background-color: red; }

#wrapper_home {
  text-align: center; }
  #wrapper_home header {
    display: grid; }
  #wrapper_home section {
    border: none;
    margin: 50px 0; }
  #wrapper_home header > h2 {
    margin: 0; }
  #wrapper_home header > p {
    color: #06384e; }
  #wrapper_home header > a {
    width: fit-content;
    margin-top: 24px;
    justify-self: center; }
  #wrapper_home #social {
    justify-self: center;
    display: grid;
    grid-template: 31px/repeat(5, 70px);
    color: CornflowerBlue !important;
    margin-top: 5px; }
  #wrapper_home #social > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid CornflowerBlue;
    border-right: transparent;
    font-size: 0.75em; }
  #wrapper_home #social > div:hover {
    color: #06384e; }
  #wrapper_home #social_end {
    border-right: 1px solid CornflowerBlue !important; }
  #wrapper_home #box_wrapper {
    display: grid;
    grid-template: repeat(4, 135px)/100%; }
  #wrapper_home .box {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-weight: 400;
    cursor: pointer; }
  #wrapper_home .box > span {
    background: white;
    padding: 5px; }
  #wrapper_home #box_1 {
    /*background-color: Ivory;*/
    background: white;
    background-image: linear-gradient(90deg, rgba(176, 196, 222, 0.5) 37%, transparent 0), linear-gradient(rgba(176, 196, 222, 0.5) 37%, transparent 0);
    background-size: 25px 25px; }
  #wrapper_home #box_2 {
    /*background-color: Snow;*/
        /*background-color: $light-color;
        background-image: linear-gradient(white 1px, transparent 0px),
						  linear-gradient(90deg, white 1px, transparent 1px),
						  repeating-linear-gradient(45deg, white, white ,transparent 1px, transparent 25px),
						  repeating-linear-gradient(-45deg, white, white, transparent 1px, transparent 25px);
        background-size:35px 35px;
        background-position: -0.5px -1px;*/
    background: radial-gradient(rgba(176, 196, 222, 0.5) 4px, transparent 3px), radial-gradient(rgba(176, 196, 222, 0.5) 4px, transparent 3px), #fff;
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px; }
  #wrapper_home #box_3 {
    background-color: rgba(176, 196, 222, 0.5); }
  #wrapper_home #box_4 {
    background-color: rgba(176, 196, 222, 0.5);
    /*background-color: $light-color;
    background-image: 
    linear-gradient(white 1px, transparent 1px),
    linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px;
    background-position:-1px -1px, -1px -1px;*/
    /*background:
    radial-gradient(circle, transparent 20%, #fff 20%, #fff 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #fff 20%, #fff 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(rgba(176, 196, 222, 0.5) 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, rgba(176, 196, 222, 0.5) 8px, transparent 8px) -4px 0;
    background-color: transparent;
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;*/
    background: linear-gradient(-45deg, rgba(176, 196, 222, 0.5) 25% 25%, #ffffff 25.1%, #ffffff 50%, rgba(176, 196, 222, 0.5) 37% 50.1%, rgba(176, 196, 222, 0.5) 37% 75%, #ffffff 75.1%, #ffffff 0);
    background-size: 40px 40px; }
  #wrapper_home #interests {
    padding: 48px 0; }

@media only screen and (max-width: 700px) {
  body {
    padding: 60px 0; }

  #wrapper_home #interests {
    padding: 20px 0; } }
#wrapper_color {
  display: grid; }
  #wrapper_color .dark_para {
    color: #06384e; }
  #wrapper_color h2 {
    margin-bottom: 0px; }
  #wrapper_color #color_demo {
    width: 80%;
    justify-self: center; }
  #wrapper_color h3 {
    margin: 60px 0 0 0; }
  #wrapper_color h3:nth-of-type(2) {
    margin: 30px 0 0 0; }
  #wrapper_color p {
    line-height: 26px;
    color: #06384e; }
  #wrapper_color p:nth-child(4) {
    margin-bottom: 30px; }
  #wrapper_color img {
    width: auto;
    margin: 20px 0; }
  #wrapper_color .color_btn_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #wrapper_color .color_btn_wrapper div {
      margin-right: 15px; }
  #wrapper_color .color_btn {
    font: bold 0.6em "Roboto Condensed", sans-serif;
    background-color: CornflowerBlue;
    width: 50px;
    height: 0px;
    padding: 20px 56px 50px 8px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    box-shadow: 5px 5px 0px #e0e0e0; }
  #wrapper_color #clipboard_btn {
    cursor: crosshair; }
  #wrapper_color #clipboard_btn:hover {
    box-shadow: none;
    transform: translate(5px, 5px); }
  #wrapper_color .btn_style {
    display: flex;
    flex-direction: row;
    margin: 30px 0; }
    #wrapper_color .btn_style div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      color: white;
      font: 0.6em 'Lato', sans-serif; }
    #wrapper_color .btn_style div:first-child {
      border-radius: 20px 0 0 20px; }
    #wrapper_color .btn_style div:last-child {
      border-radius: 0 20px 20px 0; }
  #wrapper_color #name_btn_wrapper div {
    background-color: MediumPurple;
    width: 80px; }
  #wrapper_color #name_btn_wrapper div:first-child {
    background-color: #5b2eb7; }
  #wrapper_color #blindness_btn_wrapper div {
    background-color: Plum;
    width: 126px; }
  #wrapper_color #blindness_btn_wrapper div:first-child {
    background-color: #c255c2; }
  #wrapper_color #blindness_color_wrapper div:nth-child(2) {
    background-color: #7872d4; }
  #wrapper_color #blindness_color_wrapper div:nth-child(3) {
    background-color: #7B79D9; }
  #wrapper_color #blindness_color_wrapper div:nth-child(4) {
    background-color: #64C6C4; }
  #wrapper_color #blindness_color_wrapper div:nth-child(5) {
    background-color: #929292; }
  #wrapper_color #color_demo_dark {
    width: 70%;
    justify-self: center; }

@media only screen and (max-width: 700px) {
  #wrapper_color {
    display: unset; }

  #color_demo_dark, #color_demo {
    width: 100% !important; }

  #wrapper_color .color_btn {
    margin-top: 15px; } }
@media only screen and (max-width: 414px) {
  #wrapper_color p {
    line-height: 35px; } }
#wrapper_work section {
  padding: 35px 0 45px; }
#wrapper_work #section_1 {
  padding-top: 0; }
#wrapper_work section:last-of-type {
  margin-bottom: 0; }
#wrapper_work .scrollbox {
  overflow-y: scroll;
  width: 100%;
  height: 440px; }
  #wrapper_work .scrollbox img {
    width: 100%;
    height: auto; }
#wrapper_work p {
  line-height: 30px;
  color: #06384e;
  margin-bottom: 0; }
#wrapper_work .skill {
  margin-top: 10px; }
  #wrapper_work .skill small {
    font-size: 12px;
    color: #06384e;
    border: 1px solid #06384e;
    padding: 5px 10px;
    margin-right: 3px;
    margin-top: 10px;
    display: inline-block; }
#wrapper_work footer {
  display: grid;
  margin: 40px 0; }
  #wrapper_work footer .btn_home {
    justify-self: flex-start; }
  #wrapper_work footer .btn_next {
    justify-self: flex-end; }
  #wrapper_work footer a {
    display: flex; }

.scrollbox::-webkit-scrollbar-track {
  border: 1px solid LightSteelBlue; }

.scrollbox::-webkit-scrollbar {
  width: 6px;
  background-color: white; }

.scrollbox::-webkit-scrollbar-thumb {
  background-color: LightSteelBlue; }

@media only screen and (max-width: 700px) {
  #wrapper_work .scrollbox {
    height: 350px; } }
@media only screen and (max-width: 500px) {
  #wrapper_work .scrollbox {
    height: 250px; } }
@media only screen and (max-width: 414px) {
  #wrapper_work .scrollbox {
    height: 200px; } }
#wrapper_appetite section {
  padding: 30px 0px; }
#wrapper_appetite video, #wrapper_appetite img {
  width: 100%;
  margin-bottom: 30px; }

#wrapper_codeforfun section {
  border: none; }
#wrapper_codeforfun #block_1 {
  background-image: url("image/truecolor.png"); }
#wrapper_codeforfun #block_2 {
  background-image: url("image/luckyNum.png"); }
#wrapper_codeforfun .block {
  width: 100%;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
#wrapper_codeforfun h3 {
  font-family: "Open Sans", sans-serif; }
#wrapper_codeforfun .mask {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: linear 0.5s; }
#wrapper_codeforfun .mask {
  opacity: 0; }
#wrapper_codeforfun .mask:hover {
  opacity: 0.75; }

/*# sourceMappingURL=style.css.map */
